<a href="https://colab.research.google.com/github/Chonthichasi/DWDM2021/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี  package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น  package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [ ]:
import pandas # วิธีเเรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd # ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ส่วนใหญ่จะใช้ไฟล์ .csv (CSV = comma seprated values) เป็นไฟล์หลักที่เราจะใช้ในวิชานี้

In [ ]:
data_df = pd.read_csv('data.csv') #เรียกใช้ตารางที่เราสร้างโดยใช้ทำสั่ง pd.read_csv('_')

In [ ]:
data_df #แสดงตาราง data.csv

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv') 
data_df2 #ใช้คำสั่งในเซลล์เดียวกันได้

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variables ตัวแปร

ข้อกำหนดในการตั้งชื่อตัวแปร

1.   ชื่อห้ามมีเว้นวรรค
2.   พยายามใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12 #ตัวเลขไม่ต้องใส่ quote
variable_b = 'abcde' # ' เรียกว่า quote #ข้อมูลที่เป็นตัวหนังสือให้ใส่ quote
variable_c = variable_a #

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

###ลองทำตามข้อกำหนด

In [ ]:
variable a = 6 #ชื่อห้ามมีเว้นวรรค

SyntaxError: ignored

In [ ]:
#coladใช้ภาษาไทยได้แต่ไม่ควรใช้
ตัวแปร = 3 
ตัวแปร

3

In [ ]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a =2
print(v_a)
print(V_a)

1
2

In [ ]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a =2
print(v_a)
print(v_a)

2
2

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [ ]:
print(variable1)

1

In [ ]:
variable_a = 12 #ตัวเลขไม่ต้องใส่ quote
variable_b = 'abcde' # ' เรียกว่า quote #ข้อมูลที่เป็นตัวหนังสือให้ใส่ quote
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote ใช้อันนี้ก็ได้

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b #ตัวเลขกับตัวอักษรบวกกันไม่ได้

TypeError: ignored

In [ ]:
print(variable_b + variable_4) #ตัวแปรชนิดเดียวกันบวกกันได้

abcdeKKU

# Casting int() float() str()

In [ ]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [ ]:
print(str(variable_x))

-29.200000000000003

In [ ]:
v_x = str(variable_x)
print(v_x)

-29.200000000000003

In [ ]:
v_x + variable_a #ไม่สามารถบวกได้

TypeError: ignored

In [ ]:
variable_a + v_x

TypeError: ignored

In [ ]:
v_x #เป็น str เนื่องจากการแสดงผลมี qoute

'-29.200000000000003'

In [ ]:
float(v_x) # เปลี่ยนค่าเป็นตัวเลขโดยใช้คำสั่ง float

-29.200000000000003

# Data Structure

### list()

In [ ]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b) # นับจำนวนว่าในlistมีกี่ตัว

4

In [ ]:
list_b[3]# ชี้ตัวที่3ของlist

[1, 2, 0.0]

In [ ]:
list_b[3][1] #ชี้ตัวที่3ของlist_bและชี้ตัวที่1ในตัวที่3อีกที

2

## string คือ list ของตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4] #ได้วรรค

' '

## วิธีสร้าง list ว่าง

In [ ]:
list_c = list() # แบบที่ 1
list_d = [] #แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

## เติมค่าเข้าใน list (.append())

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append(56)

In [ ]:
ilist_d

['a', 56]

### การชี้ค่าใน list (indexing)

1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1]

[1, 2, 0.0]

## list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)

In [ ]:
list_ex[1:6] #เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

## [จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[::2]#เลือกตัวแรกเว้น1เอาตัวที่2 (กระโดด)

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1]#ใช้ step -1 มันจะกลับ list ให้

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

ตัดให้เหลือแค่คำว่า'KKU'

In [ ]:
a[5:]

'KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[4::]

' KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[5::]

'KKU'

In [ ]:
a[-3::]

'KKU'

### list+list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_a + list_b #list2ตัวมาต่อกัน

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b + list_a  #ถ้าสลับตำแหน่งก็จะเรียงสลับก่อน

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0], 1, 2, 0.2, 'abs']

### format string

``` python
f 'string{ตัวแปร}'
```

{} เรียกว่า

In [ ]:
f'ตัวแปร list_a มีค่าคือ{list_a}'

"ตัวแปร list_a มีค่าคือ[1, 2, 0.2, 'abs']"

# Loop

``` python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิตส์ที่จะนำมาวนลูป:
     do something
```

In [ ]:
for i in [1,2,3,4,5]:
     print(i)

1
2
3
4
5

In [ ]:
for i in [1,2,3,4,5]:
     print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7):
     print(i)

2
3
4
5
6

In [ ]:
for i in range(2,7,2):
     print(i)

2
4
6

In [ ]:
for i in range(5):
     print('hahaha')
     x = i+3
     print(f' i={i} x={x} ')

hahaha
 i=0 x=3
hahaha
 i=1 x=4
hahaha
 i=2 x=5
hahaha
 i=3 x=6
hahaha
 i=4 x=7

## Nested loop

loopซ้อนloop

In [ ]:
for i in range(3):
     print(f'now i = {i}')
     print('start j loop')
     for j in range(4):
          print(f' i={i} j={j} i+j={i+j}')

now i = 0
start j loop
 i=0 j=0 i+j=0
 i=0 j=1 i+j=1
 i=0 j=2 i+j=2
 i=0 j=3 i+j=3
now i = 1
start j loop
 i=1 j=0 i+j=1
 i=1 j=1 i+j=2
 i=1 j=2 i+j=3
 i=1 j=3 i+j=4
now i = 2
start j loop
 i=2 j=0 i+j=2
 i=2 j=1 i+j=3
 i=2 j=2 i+j=4
 i=2 j=3 i+j=5

# Condition

# Function